html
	head
		link(rel="stylesheet" type="txt/css" href="/estilos.css")
		title css
	body
		h1 Escala PH
		p.fourteen 14 very alcalino
		p.thirteen 13
		p.twelve 12.0
		p.eleven 11.0
		p.ten 10
		p.nine 9
		p.eight 8
		p.seven 7
		p.six 6
		p.five 5
		p.four 4
		p.three 3
		p.two 2
		p.one 1
		p.zero 0